BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: BlockIndent
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
BreakTemplateDeclarations: Yes
BreakConstructorInitializers: AfterColon
BreakBeforeBraces: Stroustrup
BreakInheritanceList: AfterColon
BreakBeforeTernaryOperators: false
ColumnLimit: 120
FixNamespaceComments: false
SortIncludes: Never
IncludeBlocks: Regroup
IndentWidth: 4
TabWidth: 8
Language: Cpp
PointerAlignment: Left
QualifierAlignment: Right
Standard: c++20
